In [41]:
import pandas as pd
import numpy as np

#Student number is 425288 so brand 88 (B&B, FLSMN, PKY, REST BRAND margarine tube market 3)

data = pd.DataFrame({
    "logsales": pd.read_excel("sales.xls")["brand88"].apply(np.log),
    "logprice": pd.read_excel("price.xls")["brand88"].apply(np.log),
    "display": pd.read_excel("displ.xls")["brand88"],
    "coupon": pd.read_excel("coupon.xls")["brand88"]
})

data.describe()

         logsales    logprice     display      coupon
count  124.000000  124.000000  124.000000  124.000000
mean     4.536251    0.296617    0.088710    0.854839
std      0.256217    0.016849    0.285478    0.353692
min      3.828641    0.195238    0.000000    0.000000
25%      4.356709    0.288781    0.000000    1.000000
50%      4.564348    0.297397    0.000000    1.000000
75%      4.718499    0.304982    0.000000    1.000000
max      5.257495    0.330023    1.000000    1.000000

Frequentist estimation

In [50]:
from sklearn.linear_model import LinearRegression

y =  data["logsales"]
X = data[["logprice", "display", "coupon"]]

reg = LinearRegression().fit(X, y)

print("R2 ",reg.score(X, y))

print("\nCoefficients",reg.coef_)
print("\nIntercept",reg.intercept_)

R2  0.04064190974068005

Coefficients [ 1.57347144  0.14798799 -0.08244147]

Intercept 4.126878867987706